/*
   2020年5月11日上午 10:02:38
   使用者: sa
   伺服器: LAPTOP-URTLJN10\SQLEXPRESS
   資料庫: AGVC_CAAGV100_v4
   應用程式: 
*/

/* 為了避免任何可能發生資料遺失的問題，您應該先詳細檢視此指令碼，然後才能在資料庫設計工具環境以外的位置執行。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_HOPERATION
	(
	SEQ_NO nvarchar(255) NOT NULL,
	T_STAMP char(19) NULL,
	USER_ID char(20) NULL,
	FORM_NAME char(30) NULL,
	ACTION varchar(MAX) NULL,
	INSERT_TIME datetime NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_HOPERATION SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.HOPERATION)
	 EXEC('INSERT INTO dbo.Tmp_HOPERATION (SEQ_NO, T_STAMP, USER_ID, FORM_NAME, ACTION)
		SELECT SEQ_NO, T_STAMP, USER_ID, FORM_NAME, ACTION FROM dbo.HOPERATION WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.HOPERATION
GO
EXECUTE sp_rename N'dbo.Tmp_HOPERATION', N'HOPERATION', 'OBJECT' 
GO
ALTER TABLE dbo.HOPERATION ADD CONSTRAINT
	PK_HOPERATION PRIMARY KEY CLUSTERED 
	(
	SEQ_NO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
